
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

body.dark-mode {
  background-color: #121212; 
  color: #ffffff; 
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.chat-container {
  flex: 1;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.dark-mode .chat-container {
  background-color: #1e1e1e; 
}

.light-mode .chat-container {
  background-color: #ffffff;
}

.chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
 
}


.chat-window::-webkit-scrollbar {
  display: none;  
}


/* Messages */
.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  position: relative;
  word-wrap: break-word;
}

.message.user-message {
  align-self: flex-end;
  background-color: #007bff; 
  color: #ffffff;
  border-bottom-right-radius: 0;
  flex-direction: row-reverse;
  padding: 10px 20px;

}

.message.model-message {
  align-self: flex-start;
  background-color: #e0e0e0; 
  color: #000000;
  border-bottom-left-radius: 0;
  position: relative;
}

.dark-mode .message.model-message {
  background-color: #333333; 
  color: #fdfdfd;
}

.light-mode .message.model-message {
  background-color: #e0e0e0; 
  color: #000000;
}

.message .subscript {
  position: absolute;
  bottom: -20px;
  text-align: relative;
  font-size: 12px;
  color: #888; 
}

.message.user-message .subscript {
  position: absolute;
  bottom: -20px;
  right: 10px; 
  text-align: right; 
  font-size: 12px;
  color: #888;
}


.message.model-message.subscript {
  position: absolute;
  bottom: -20px;
  left: 10px;
  right: auto; 
  text-align: left; 
  font-size: 12px;
  color: #888; 
}

.dark-mode .message .subscript {
  color: #bbb;
}

.input-container {
  position: relative;
  display: flex;
  border-top: 1px solid transparent;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.dark-mode .input-container {
  background-color: transparent;
  border-top: 1px solid transparent;
}

.light-mode .input-container {
  background-color: transparent;
  border-top: 1px solid transparent;
}

input[type="text"] {
  flex: 1;
  border: 5;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  background-color: #888;
  color: #000000;
  margin-right: 90px;
  margin-left: 90px;
}

.dark-mode input[type="text"] {
  background-color: #333333;
  color: #ffffff; 
}

.light-mode input[type="text"] {
  background-color: #ffffff;
  color: #000000;
}
.mic-button {
  position: absolute;
  right: 10px; 
  border: 2px;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  
  margin-right: 90px;
  margin-left: 90px;
  margin-bottom: 90px;
  transform: translateY(83%);
  transition: opacity 0.3s, filter 0.3s;
  cursor: pointer;
 
}

.mic-button.listening {
  color: green;
}

.mic-button.disabled {
  opacity: 0.5;
  filter: grayscale(80%);
  cursor: not-allowed;
}

.dark-mode .mic-button {
  color: #ffffff;
}

.light-mode .mic-button {
  color: #000000;
}
button {
  border: none;
  background-color: #63656600;
  color: #ffffff;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: black;
  animation: blink 1s step-start infinite;
  margin-left: 2px; 
}

.dark-mode .cursor {
  background-color: white;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.dark-mode-toggle {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dark-mode .dark-mode-toggle {
  color: #ffffff; 
}

.light-mode .dark-mode-toggle {
  color: #000000; 
}

.spinner {
  border: 2px solid #f3f3f3; 
  border-top: 2px solid #007bff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blinking-light{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.blinking-light .dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
  animation: blink 1s infinite;
}

.blinking-light .dot.green{
  background-color: green;
}
.blinking-light .dot.red{
  background-color: red;
  animation: blinke-red 1s infinite;
}
@keyframes blink {
  50%{
    opacity: 0;
  }
  
}
@keyframes blink-red {
  50%{
    opacity: 0.5;
  }
  
}